
include ../_includes/header.html

.home-sections
    include ../_includes/section-about.html
    include ../_includes/section-youtube.html
    include ../_includes/section-mentoring.html
    //include ../_includes/columns.html

div(style='height: 2000px')
    